<!-- Validation failure messages -->
<% if @listing.errors.any? %>
  <% @listing.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Listing</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_listing" method="get">

      <!-- Label and input for start_time -->
      <div class='input-group date' id='datetimepicker1'>
        <label for="start_time" class="control-label">
          Start Time
        </label>
        <input type='text' class="form-control" name="start_time" id="start_time">
        <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>

      <!-- Label and input for end_time -->
      <div class='input-group date' id='datetimepicker2'>
        <label for="end_time" class="control-label">
          End Time
        </label>
        <input type='text' class="form-control" name="end_time" id="end_time">
        <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>


      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label><br>

        <select name = "location">
          <option value="Blomquist Recreation Center">Blomquist Recreation Center</option>
          <option value="Henry Crown Sports Pavillion">Henry Crown Sports Pavillion</option>
          <option value="Patten Gymnasium">Patten Gymnasium</option>
        </select>
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
      </div>

      <button class="btn btn-success">
        Create Listing
      </button>
      or
      <a href="/listings">Cancel</a>
    </form>
  </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker2').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker1").on("dp.change", function (e) {
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
        });
    });
</script>
